body {
  background-color: black;
}

/* Psuedo selector, for adding custom properties */
:root {
  --border: rgb(3, 169, 244);

  --g1: rgb(98, 0, 234);
  --g2: rgb(236, 64, 122);
  --g3: rgb(253, 216, 53);
}

.card {
  aspect-ratio: 1/1.6;
  border: 0.5vmin solid var(--border);
  cursor: pointer;
  position: relative;
  width: 56vmin;
}

.card::before {
  content: '';
  left: 0;
  position: absolute;
  top: 0;

  height: 100%;
  width: 100%;

  /* Add gradient */
  background: linear-gradient(
    130deg,
    transparent 0% 33%,
    var(--g1) 66%,
    var(--g2) 83.5%,
    var(--g3) 100%
  );

  /* Shift the gradient off the card by default */
  background-size: 300% 300%;
  background-position: 0% 0%;

  /* Animate the background on hover */
  transition: background-position 350ms ease, transform 350ms ease;
}

/* .card:hover:before { */
.card:hover:before {
  background-position: 100% 100%;
  transform: scale(1.08, 1.03);
}

.card-content {
  /* Decorate it with a dotted grid */
  background: radial-gradient(rgba(255, 255, 255, 0.2) 8%, transparent 8%);
  background-position: 0% 0%;
  background-size: 5vmin 5vmin;

  transition: background-position 350ms ease;

  /* Let's add some padding 1:35 */
  height: calc(100% - 10vmin);
  padding: 5vmin;
  width: calc(100% - 10vmin);

  /* Did he forget to mention the relative position? */
  position: relative;
}

.card:hover > .card-content {
  background-position: -10% 0%;
}

.card-title,
.card-subtitle {
  color: white;
  font-family: 'Anek Latin', sans-serif;
  font-weight: 400;
  margin: 0;
}

.card-title {
  font-size: 6vmin;
}
.card-subtitle {
  font-size: 3vmin;
  margin-top: 2vmin;
}

.card-subtitle-word {
  display: inline-block;
  margin: 0vmin 0.3vmin;

  position: relative;
  transform: translateY(40%);
  transition: none;
  opacity: 0;
}

.card:hover > .card-content > .card-subtitle > .card-subtitle-word {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0ms, transform 200ms cubic-bezier(0.9, 0.06, 0.15, 0.9);
}
